<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 应用名称 -->
	<property name="webappName" value="iloopTms." />
	<property name="LOG_HOME" value="/httx/logs" />
	<contextName>${webappName}</contextName>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level][%thread]%logger.%M:%L - %msg%n]]></pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>D:\logs\out.log</file>
        <encoder>
			<pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level][%thread]%logger.%M:%L - %msg%n]]></pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
    </appender>
	
 	<!-- ============================================================= -->	   
    <logger name="org.springframework" level="error" />
    <logger name="org.springframework.web" level="error" />
    <root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>    
</configuration>
